/* Typewriter */

.blink {
    animation: blink-animation 1s steps(3, start) infinite;
    -webkit-animation: blink-animation 1s steps(3, start) infinite;
}
    
@keyframes blink-animation {
    to { visibility: hidden; }
}
    
@-webkit-keyframes blink-animation {
    to { visibility: hidden; }
}